<template>
	<article ref="card" class="shadow rounded-md bg-white flex flex-col p-4 gap-3">
		<figure class="relative z-10">
			<span class="absolute -top-1.5 -left-1.5 block leading-none rounded-full min-w-[2.7em] text-center text-white bg-red-500 py-0.5 px-2 text-xs font-semibold">
				{{id}}
			</span>
			<img :src="image">
		</figure>
		<div>
			<h3 class="text-center uppercase font-extrabold text-gray-800">
				{{name}}
			</h3>
		</div>
	</article>
</template>
<script setup>
import {defineProps, ref} from "vue"
import { useIntersectionObserver } from '@vueuse/core'
defineProps({
	id: {
		type: String,
		required: true
	},
	image: {
		type: String,
		required: true
	},
	name: {
		type: String,
		required: true
	}
});

const card = ref(null);
const show = ref(null);
useIntersectionObserver(card, ([{ isIntersecting }]) => {
	setTimeout(() => {
		show.value = isIntersecting;
	}, 400)
});

</script>