<template>
	<div ref="grid" class="flex flex-col gap-5">
		<div>
			<slot name="header"></slot>
		</div>
		<div>
			<div class="grid grid-cols-5 gap-5">
				<slot></slot>
			</div>
		</div>
		<div>
			<slot name="footer"></slot>
		</div>
	</div>
</template>
<script setup>
	import {useSlots} from "vue"

	const slots = useSlots();
	console.log(slots);
</script>