<template>
  <main class="p-5 max-w-5xl mx-auto">
    <div class="flex gap-6">
      <div class="flex gap-5">
        <button class="w-8 aspect-square flex justify-center items-center rounded-full text-xl font-bold text-white bg-red-500" @click="onPrev">
          -
        </button>
        <select v-model="current">
          <option v-for="(p, i) in pages" :key="`option-page-${i}`" :value="i">
            {{p}}
          </option>
        </select>
        <button class="w-8 aspect-square flex justify-center items-center rounded-full text-xl font-bold text-white bg-red-500" @click="onNext">
          +
        </button>
      </div>
      <div>
        <VSelect @search="onSearch" :clearSearchOnBlur="() => false" class="w-60 capitalize" v-model="search" :options="pokemons" label="name" :reduce="(i) => i.name"></VSelect>
      </div>
    </div>
    <VGrid>
      <template v-for="(pokemon, index) in list.slice(page.start, page.end)" :key="`pokemon-${pokemon.id}-${index}`">
        <VCard v-bind="pokemon" />
      </template>
    </VGrid>
  </main>
</template>
<script setup>
import {onMounted, ref, computed, watch} from "vue"
import axios from "axios"
import {pokemons, pokemonsListMap} from "@/mixins/Pokemons"
import VSelect from "vue-select"
import 'vue-select/dist/vue-select.css';

import VGrid from "@/components/VGrid"
import VCard from "@/components/VCard"

/* Search Start */
const search = ref(null);
const list = computed(() => {
  return pokemons.value.filter(pokemon => {
    return search.value && search.value?.length > 3 ? 
    pokemon.name.includes(search.value.toLowerCase()) : 
    true;
  });
});

const onSearch = (result) => {
  search.value = result ? result : search.value;
}
/* Search End */

/* Pagination Start */
const current = ref(0);
const perPages = ref(10);
const pages = computed(() => {
  return Math.ceil(list.value.length / perPages.value);
});

const page = computed(() => {
  const start = current.value * perPages.value;
  const end = start + perPages.value;
  return {start, end};
});

const onPrev = () => {
  if(current.value > 0)
    current.value --;
}
const onNext = () => {
  if(current.value < pages.value - 1)
    current.value ++;
}
watch(() => list.value, () => {
  current.value = 0;
});
/* Pagination Start */

onMounted(async () => {
  const { status, data:res } = await axios("https://pokeapi.co/api/v2/pokemon?limit=-1").catch(e => e.response);
  switch(status){
    case 200:
      pokemonsListMap(res.results);
      break;
    default:
      console.error(res);
  }
});

</script>